
<div class="container">

  <div class="panel devise-panel" style="text-align: center">

    <h3>
   </br>
   <img  style="width: 100%;height: 100%;text-align: center" src="/assets/about/about.JPG">

</h3>
    <p style="color:#888 ;font-size: 13px ;font-weight: 200 ;text-align: center ">
    Love Coding</br>

   Love  games,love somthing fun.</br>

    Github :https://github.com/icepoint0 </br>

      Leave  Me Message </br>

      Or  Drop Me A Line </br>

      Email  zjc765588790@hotmail.com</br>
  </p>
  </div>


</div>