body{

    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;

}
#container{
    padding-left: 70px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.navbar-brand,   .navbar-nav > li > a{

    font-weight: 500;
    color: #999;

}
.navbar-brand,   .navbar-nav > li > a:hover{

    font-weight: 500;
    color: white;

}
 .navbar-brand:focus, .navbar-brand:hover {
     color:white;

 }
#top_nav{

    border-bottom: 1px solid #E0E0E0;
/*background-color: #6441a5;*/
    background-color:rgba(47,47,47,0.98);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.28);
    right: 0px;
    left: 0px;
    z-index: 1030;


}
#lg_input > .form-control{

    width: 300px;
}
#lg_input > .form-control,
 #lg_input > .input-group-btn > .btn{

     height: 30px;
     padding: 5px 15px 5px 15px;
     line-height: 1.3333333;
     border-radius: 2px;
    font-size: 15px;

 }

 .form-control {
     font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
     display: block;
     width: 100%;
     height: 34px;
     padding: 6px 12px;
     font-size: 14px;
     line-height: 1.42857143;
     color: #555;
     background-color: #fff;
     background-image: none;
     border: 0.5px solid #ccc;
     border-radius: 4px;
     -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
     -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
     -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
     transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
 }

 #lg_input > .form-control:focus {
     border-color:#6441a5;
     outline: 0;
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #6441a5;
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #6441a5;
 }

 #navbar-brand-white{
     font-family:Monaco,Menlo,Consolas,"Courier New",monospace
 }
#navbar-brand-white:hover{

    color: white;



}
