article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }



.comment {
    overflow: hidden;
    padding: 0 0 1em;

    margin: 0 0 1em;
    *zoom: 1;
}

.comment-img {
    float: left;
    margin-right: 33px;
    border-radius: 5px;
    overflow: hidden;
}

.comment-img img {
    display: block;
}

.comment-body {
    overflow: hidden;
}

.comment .text {
    color:#6d6d6d;
    padding-top: 10px;
    padding-left:10px;
min-height: 44px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}

.comment .text p:last-child {
    margin: 0;
}

.comment .attribution {
    float:right;
margin: 0px;
padding-top: 5px;
    font-size: 10px;
    color: #666;
}

/* Decoration */

.comments,
.comment {
    position: relative;
}

.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 120px;
}

.comments:before {
    width: 3px;
    top: -20px;
    bottom: -20px;
    background: rgba(0,0,0,0.1);
}

.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -6px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2), inset 0 1px 1px rgba(0,0,0,0.1);
    background: #ccc;
}

.comment:hover:before {
    background: orange;
}

.comment .text:before {
    top: 18px;
    left: 128px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}



.text-reply {
    color:#6d6d6d;
    padding-top: 10px;
    padding-left:10px;

    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
}
.auto_wrap{

    word-break:break-all;
    width: 200px;

}
.comment_textarea{
border: 1px solid #e5e5e5;
    resize: none;
    height: 100%;
    width: 100%;
}
.comment_textarea:focus{
    border-color:#e5e5e5;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #e5e5e5;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #e5e5e5;


}
.edit_comment_dialog{

height: 80px;
    width: 100%;

    float: right;


}

.top_comment_textarea{

height: 155px;

    margin-left: 10%;
    border: 1px solid #e5e5e5;
    resize: none;
    width: 80%;

}
.section-comment{
padding:10px;

}
.attribution-small{
    float:right;
    margin: 0px;

    font-size: 10px;
    color: #666;
    margin-top: -3px;
}